footer {
    text-align: center;
    font-size: 0.6em;
}

body {
    font-family: Cantarell, sans;
}

#current-data {
    font-size: 2em;
    text-align: center;
    padding: 4px;
}

.hand-cursor:hover {
    cursor: pointer;
}

#zipcode-form {
    text-align: center;
}

#zipcode-form, #zipcode-form input {
    font-size: 20px;
}

/* I set width to 600px in a sort of janky way, 'cause I know
 * that the chart will be 600px and I just can't quite nail
 * the centering the way I want to right now. This will center
 * things properly if the chart is 600px wide, which it is.
 */

.graph {
    width: 600px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.graph svg {
    text-align: center;
}
